<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edicion de producto</title>
    <link rel="stylesheet" href="/fields/css/form.css">
</head>
<body>
<header>
    <h1>Actualiza tu Producto</h1>
    <p>Lista de productos <a href="/products">Aquí</a></p>
</header>

<main>

    <form action="/products/update" method="post">
        <label>ID:
            <input type="text" name="id" th:value="${product.id}" readonly style="background:#888; font-weight: 700;">
        </label>
        <label>Nombre proveedor:
            <select id="provider" name="provider.id">
                <option th:text="${product.provider.name}" th:value="${product.provider.id}"></option>
            </select>
        </label>
        <label for="name">Nombre:
            <input type="text" name="name" id="name" th:value="${product.name}" placeholder="Name" required>
        </label>
        <label for="description">Descripción:
            <input type="text" name="description"  id="description" th:value="${product.description}" placeholder="Description">
        </label>
        <label for="category">Categoria:
            <input type="text" name="category" id="category" th:value="${product.category}" required>
        </label>
        <label for="quantity">Cantidad:
            <input type="number" name="quantity" id="quantity" th:value="${product.quantity}" required value="0">
        </label>
        <label for="price">Precio:
            <input type="number" name="price" id="price" th:value="${product.price}" placeholder="Price" value="0">
        </label>
        <button type="submit">Guardar nuevos cambios</button>
    </form>
</main>
</body>
</html>