<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="/fields/css/style-home.css">
</head>
<body>
    <header>
        <h1>Lista de productos</h1>
        <p>Para agregar un nuevo producto <a href="/products/add">Click Aquí</a></p>
    </header>

    <main>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Proveedor</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Categoria</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${allProducts}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.provider.name}"></td>
                <td th:text="${product.name}" style="font-weight:700;"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <form class="container-icon" th:action="@{'/products/' + ${product.id}}" method="post">
                        <button type="submit" style="border: none; background: none; padding: 0; cursor:pointer;">
                            <img src="/fields/icon-delete.svg" alt="Delete product">
                        </button>
                    </form>
                </td>
                <td>
                    <a class="container-icon" th:href="@{'/products/edit/' + ${product.id}}">
                        <img src="/fields/icon-edit.svg" alt="Edit product">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</body>
</html>